
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styling */
nav {
background-color: #333; /* Dark background */
color: white;
padding: 15px;
position: fixed; /* Fix to the left */
top: 0;
left: 0;
height: 100%;
width: 250px; /* Adjust width as needed */
display: flex; /* Use flexbox for layout */
flex-direction: column; /* Arrange items vertically */
align-items: center; /* Center items horizontally */
}

nav img {
width: 120px;
margin-bottom: 20px; /* Add some spacing below the logo */
}

nav button {
background-color: #4CAF50; 
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
width: 80%; 
margin-bottom: 30px;
font-size: 14px;
border-radius: 25px; 
cursor: pointer;
flex-grow: 1; 
transition: background-color 0.3s; 
animation: glowing 1300ms infinite;
}

@keyframes glowing {
0% {
  background-color: #2ba805;
  box-shadow: 0 0 5px #2ba805;
}
50% {
  background-color: #49e819;
  box-shadow: 0 0 20px #49e819;
}
100% {
  background-color: #2ba805;
  box-shadow: 0 0 5px #2ba805;
}
}

nav button:hover {
background-color: #45a049; 
}

/* Page Content Styling */
.page {
  text-align: center; /* Left-align content on pages */
  margin-left: 170px; /* Account for the width of the nav bar */
  padding: 20px;
}

#reality {
#reality1 {
  padding-bottom: 10px;
  #reality-input {
    width: 500px;
    height: 100px;
  }
}

#reality2 {
  padding-bottom: 10px;
  #reality-output {
    width: 500px;
    height: 300px;
  }
}
}

#conversion {
align-items: center;

#conversion1 {
  padding-bottom: 10px;

  #conversion-input {
    width: 500px;
  }
}

#conversion2{
  padding-bottom: 10px;

  #conversion-output {
    width: 500px;
  }
}
}

#equivalent1 {
padding-bottom: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

#equivalent-input {
width: 500px;
height: 100px;
margin-bottom: 10px;
}

select {
margin-bottom: 10px;
width: 100px; /* Adjust the width of the combo boxes as needed */
}

#equivalent-selects {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#equivalent-selects select {
margin: 0 5px; /* Adjust spacing between select boxes */
}
